* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: #000000;
}

header {
  background-color: #ffb72d;
  padding: 20px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
}

.buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  margin: 10px;
}

.buscador #buscador {
  height: 100%;
  border-radius: 6px  0 0 6px;
  background-color: white;
  color: black;
}

.buscador #buscador-btn {
  padding: 3px;
  border-radius: 0 6px 6px 0;
}

.buscador #buscador-btn:hover {
  cursor: pointer;
}

#sidebar {
  border-right: 1px solid rgba(87, 81, 81, 0.164);
  padding: 20px;
  width: 30%;
  min-width: 200px;
  -webkit-box-shadow: 1px 0px 1px rgba(87, 81, 81, 0.164);
          box-shadow: 1px 0px 1px rgba(87, 81, 81, 0.164);
}

#sidebar ul li {
  list-style: none;
  margin: 10px;
  padding: 3px;
}

#sidebar ul li a {
  text-decoration: none;
  color: black;
}

#sidebar ul li a:hover {
  text-decoration: underline;
  font-size: 1.5em;
}

.detalles {
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  margin: 10px;
  text-decoration: none;
  border-radius: 8px;
  position: relative;
  color: black;
}

.card p {
  position: absolute;
  bottom: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: aliceblue;
}

.card .card-img {
  width: 200px;
  border-radius: 8px;
}

.menu {
  width: 50px;
  height: 50px;
  font-size: 1.8em;
  color: black;
  -webkit-box-shadow: 2px 3px 5px #292727;
          box-shadow: 2px 3px 5px #292727;
  border-radius: 50%;
}

#trends-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#trends-container h2 {
  margin: 10px;
}

#trends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: scroll;
}

#categorias-cotainer h2 {
  margin: 10px;
}

#categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category {
  color: aliceblue;
  border-radius: 8px;
  border: 1px solid aliceblue;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}

#detalles-header img {
  width: 100%;
  height: 100%;
}

#return {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 100%;
  color: white;
  padding: 10px;
  font-size: 3em;
  background: #0d0d0d;
  background: linear-gradient(164deg, #0d0d0d 0%, rgba(104, 65, 166, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0d0d",endColorstr="#6841a6",GradientType=1);
}

.detalles-header-title {
  font-size: 1em;
}

#detalles-card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px 8px  0 0;
  padding: 10px;
}

#similares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: scroll;
  margin: 20px;
}

.botonera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.botonera a {
  text-decoration: none;
  color: black;
}

.botonera .detalle {
  margin: 5px;
}

.hidden {
  display: none;
}

footer {
  padding: 20px;
  border-top: 1px solid rgba(87, 81, 81, 0.164);
  text-align: center;
  color: aliceblue;
}

footer a {
  text-decoration: none;
  color: aliceblue;
}

@media screen and (min-width: 700px) {
  #trends {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: visible;
  }
}
/*# sourceMappingURL=style.css.map */